.esGroundItemUL{
background:none;
  position: static;
  top:520px;
  left:87px;
  overflow-x:auto;
  width:664px;
   height: 210px;
  box-shadow: 0 0 15px #333;
}
section {
  position: relative;
  border: 1px solid #aeb6b7;
  padding-top: 37px;
  background: none;
   width:none;
}
section.positioned {
 /*  position: absolute; */
 /*
  top:510px;
  left:83px;
 */
  width:661px;
  box-shadow: 0 0 15px #333;
}

#tablebackgroundES_4 { width:1144px; height: 220px; background:none; float:left; margin: 10px 0px 10px 10px; padding: 2px 1px 1px 1px; }
/*---------------Auto select ------------------------*/
#left { 
    width:200px;
    min-height: 100px;
    background:;
    float:left;
}
.suggestionsBox {
	position: absolute;
	left: 195px;
	top:204px;
	background-color: #fff;
	width: 190px;
	border: 1px solid #2d8f9b;
}
#suggesstions ul li {
	list-style:none;
	margin: 1px;
	padding: 1px;
	border-bottom:1px dotted #666;
	cursor: pointer;
	
}
#suggesstions ul li:hover {
	background-color: #c1c2cb;
	color:#000;
	
}

ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	padding:4px;
	margin:4px;
}

.container {
  overflow-y: auto;
  height: 170px;
  width:none;
}

.suggestionsBox1 {
	position: absolute;
	left: 195px;
	top:190px;
	z-index:10;
	background-color: #fff;
	width: 230px;
	border: 1px solid #2d8f9b;
}
	#suggesstions1 ul li {
	list-style:none;
	margin: 0px;
	padding: 0px;
	border-bottom:1px dotted #666;
	cursor: pointer;

}
#suggesstions1 ul li:hover {
	background-color: #c1c2cb;
	color:#000;
	
}

#AlertCSS_1_5{
 position: absolute;
 z-index:10;
 padding:2px 2px 4px 2px;
 background-color: #fff;
 color:#FF0000;
 font-size:15px;
 width:200px;
 margin-top:2px;
 margin-left:110px;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;

 box-shadow: inset 0px 0px 15px none;
-moz-box-shadow: inset 0px 0px 15px none;
-webkit-box-shadow: inset 0px 0px 15px none;
 -moz-box-shadow: 0 0 8px #000000;
-webkit-box-shadow: 0 0 8px #000000;
box-shadow: 0 0 8px #000000;
border: 1px sol
/**/
	
}

